---
title: Gobo Stock
layout: default
permalink: /gobos/
---

<div class="nav-bar">
  <div class="wrapper">
    <div class="nav-button">
      <a href="/" title="Back"><i class="ion-ios-arrow-back"></i></a>
    </div>
  </div>
</div>

<div class="wrapper">

<div class="gobos">
  <ul class="gobos-list">
    {% for gobo in site.data.gobos %}
    <li>
      <div class="gobo-item gobo-type-{{ gobo.type | downcase }}">
        {% if gobo.image %}
        <div class="gobo-image">
          <img src="/images/gobos/{{ gobo.image }}" />
        </div>
        {% else %}
        <div class="gobo-image gobo-no-image">
        </div>
        {% endif %}
        <h2 class="gobo-title">{{ gobo.make }} <strong>{{ gobo.number }}</strong></h2>
        <p class="gobo-name">{% if gobo.name %}{{ gobo.name }}{% endif %}</p>
        {% if gobo.stock %}
        <dl class="gobo-stock-list">
          {% for stock in gobo.stock %}
          <dt>{{ stock.size }}</dt><dd>{{ stock.qty }}</dd>
          {% endfor %}
        </dl>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

</div>
